/* @font-face {
  font-family: 'CocaCola';
  src: url('./assets/fonts/CocaCola.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'SilverBellybuttonRingReg';
  src: url('./assets/fonts/Silver\ Bellybutton\ Ring\ Reg_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}